<p>employee-detail works!</p>


<div *ngIf="employee">
    <h2>Employee Details</h2>
    <p><strong>ID:</strong> {{ employee.id }}</p>
    <p><strong>Name:</strong> {{ employee.name }}</p>
    <p><strong>Designation:</strong> {{ employee.designation }}</p>
    <p><strong>Salary:</strong> {{ employee.salary }}</p>
    <p><strong>Date Of Join:</strong> {{ employee.dateOfJoin }}</p>
    <p><strong>Company:</strong> {{ employee.company.name }}</p>

</div>
  <div *ngIf="!employee">
    <p>Loading employee details...</p>
  </div>
  