<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Employee Management</a>
      
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/companies">Company List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employees">Employee List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/companies/new">Create Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employees/new">Create Employee</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  