<p class="title">Employee List</p>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Date of Joining</th>
        <th>Company</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employee_list">
        <td>{{ employee.name }}</td>
        <td>{{ employee.designation }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.dateOfJoin }}</td>
        <td>{{ employee.company.name }}</td>
        <td class="actions">
          <a [routerLink]="['/employees', employee.id]" class="btn view">View</a>
          <a [routerLink]="['/update-employee', employee.id]" class="btn edit">Edit</a>
          <button *ngIf="employee.id !== undefined" class="btn delete" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
